<!-- Copyright Area Start -->
		<div class="copyright-area bg-7 ptb-65">
			<div class="container">
				<!-- Contact address left -->
				<div class="row">
					<div class="conct-border two">
						<div class="col-md-4 col-sm-4">
							<div class="single-address">
								<div class="media">
									<div class="media-body text-center">
					<p><img src="img/bdcash-logo.png" alt="logo" class="img-responsive"></p>
					<p>The Best Decentralization for digital Cash.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="single-address">
								<div class="media">
									<div class="media-body text-center">
										<p>admmin@bigdatacash.online<br>partner@bdcashprotocol.com</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="single-address">
								<div class="media">
									<div class="media-left">
										<i class="icofont icofont-social-google-map"></i>
									</div>
									<div class="media-body text-center">
										<p>R. Maranhão, <br>Nova Viçosa, Brazil.
										<br>ID/CNPJ: 42.834.907/0001-04</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Contact address left -->
				<!-- Copyright right -->
				<div class="row">
					<div class="col-md-12">
						<div class="copyright-area text-center">
							<!-- Copyright social -->
							<div class="contact-social text-center pt-70 pb-35">
								<ul>
									<li>
										<a href="https://twitter.com/bdcashprotocol" target="_blank"><i class="icofont icofont-social-twitter"></i></a>
									</li>
									<li>
										<a href="https://www.reddit.com/r/cryptocurrency_bdcash/" target="_blank"><i class="icofont icofont-social-reddit"></i></a>
									</li>
									<li>
										<a href="#" target="_blank"><i class="icofont icofont-social-youtube"></i></a>
									</li>
									<li>
										<a href="https://t.me/bdcashprotocol_official" target="_blank"><i class="icofont icofont-social-telegram"></i></a>
									</li>
									<li>
										<a href="https://www.instagram.com/bdcashprotocol_official/" target="_blank"><iimg class="icofont icofont-social-instagram"></i></a>
									</li>
								</ul>
							</div>
							<!-- Copyright social -->
							<div class="copyright-text">
								<p>Copyright &copy;  <a href="./"> Bdcash Protoco project. </a> All Rights Reserved.</p>
							</div>
							<!-- Copyright text -->
						</div>
					</div>
				</div>
				<!-- Copyright right -->
			</div>
		</div>
		<!-- Copyright Area End -->
		
		<!-- all js here -->
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap-show-modal.js"></script>
        <script src="js/owl.carousel.min.js"></script>
		<script src="js/slick.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/modal.js"></script>
		<script src="js/main.js"></script>
    </body>

</html>
