<ul class="nav navbar-nav navbar-right">
<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icofont icofont-question-circle"></i> More Info
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about"><i class="icofont icofont-hand-drawn-right"></i> About Project</a></li>
          <li><a href="/team"><i class="icofont icofont-hand-drawn-right"></i> Team</a></li>
          <li><a href="/roadmap"><i class="icofont icofont-hand-drawn-right"></i> Road Map</a></li>
          <li><a href="/donwload"><i class="icofont icofont-hand-drawn-right"></i> Downloads</a></li>
          <li><a href="/#"><i class="icofont icofont-hand-drawn-right"></i> Partners</a></li>
        </ul>
      </li>
<li><a href="https://insight.bdcashprotocol.com" target="_blank"><i class="icofont icofont-look"></i> Explorer</a></li>						
<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icofont icofont-automation"></i> Ecosystem
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="icofont icofont-hand-drawn-right"></i> NodeSH</a></li>
          <li><a href="#"><i class="icofont icofont-hand-drawn-right"></i> Create your ID BDCash</a></li>
          <li><a href="#"><i class="icofont icofont-hand-drawn-right"></i> Deploy your smart contract</a></li>
          <li><a href="#"><i class="icofont icofont-hand-drawn-right"></i> Build your Token</a></li>
          <li><a href="#"><i class="icofont icofont-hand-drawn-right"></i> Build your NFT</a></li>
        </ul>
      </li>
<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icofont icofont-look"></i> Find Us
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="https://coinmarketcap.com/currencies/bdcash/" target="_blank"><i class="icofont icofont-hand-drawn-right"></i> CoinMarketCap</a></li>
          <li><a href="#"><i class="icofont icofont-hand-drawn-right"></i> Coingecko</a></li>
        </ul>
      </li>
<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icofont icofont-life-ring"></i> Get Support
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="icofont icofont-hand-drawn-right"></i> Go to community Discord</a></li>
          <li><a href="#"><i class="icofont icofont-hand-drawn-right"></i> Go to community Telegram</a></li>
        </ul>
      </li>					
							
							<li><a href="#" class="download-btn btn-lg" id="button-started"><i class="icofont icofont-login"></i> Get Started</a></li>
						   
						</ul>
						<script>

						</script>