<% include ../partial_page/header.ejs %>

				<!-- hero area start -->
		<div class="hero-area slider-4" id="slider-area">
			<div class="slider">
				<div class="container">
					<div class="row">
						<div class="col-md-offset-4 col-sm-offset-4 col-md-8">
							<div class="hero-text mr-ri-l">
								<h1>BDCash Protocol</h1>
								<p>The <strong>Best Decentralization</strong> for digital <strong>Cash</strong>.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- hero area end -->
		<!-- About area start -->
		<section id="about" class="about-area pt-125">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="about-content">
							<h2>About</h2>
							<p>On April 1, 2020, the BDCash Protocol project was started by Rizard, and on April 27, 2020 the blockchain was active, where its first block was mined. Like several projects, its community was created in telegram, discord and a discussion topic in bitcointalk, the same was designed to be just POS (Proof of Stake) where it got admirers first from Indonesia, after attack hacker the project migrated its algorithm to QUARK and its consensus became POS/MN. Since then, the entire team has been striving to transform and make BDCash Protocol a success.</p>
							<p>Our new focus has become decentralization of services using our ever-strengthening ecosystem.</p>
							<a class="hero-btn video-popup" href="#"><i class="icofont icofont-play-alt-2"></i> Watch Our Video</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="about-img">
							<img src="img/other/about.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- About area End -->

<% include ../partial_page/footer.ejs %>