<% include ../partial_page/header.ejs %>

<!-- Contact Area Start -->
		<!-- hero area start -->
		<div class="hero-area slider-4" id="slider-area">
			<div class="slider">
				<div class="container">
					<div class="row">
						<div class="col-md-offset-4 col-sm-offset-4 col-md-8">
							<div class="hero-text mr-ri-l">
								<h1>Moto All solution Head</h1>
								<p>Nulla aliquet, erat a egestas lacinia, leo libero dapibus nisl, quis pulvinar dolor justo id turpis. Nulla odio orci.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- hero area end -->
		<div id="contact" class="contact-area pt-130">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- Contact Form -->
						<div class="contact-form">
							<form class="form" name="enq" method="post" action="#">
								<div class="row">
									<div class="form-group col-md-12">
										<input type="text" name="name" class="form-control" id="first-name" placeholder="Name" required="required">
									</div>
									<div class="form-group col-md-12">
										<input type="email" name="email" class="form-control" id="email" placeholder="Email" required="required">
									</div>
									<div class="form-group description col-md-12 mbnone">
										<textarea rows="3" name="message" class="form-control" id="description" placeholder="Message" required="required"></textarea>
									</div>
									<div class="col-md-12">
										<div class="actions text-center">
											<input type="submit" value="SUBMIT" name="submit" class="btn btn-lg btn-contact-bg col-sm-12" title="Submit Your Message!">
										</div>
									</div>
								</div>
							</form>
						</div>
						<!-- Contact Form -->
						<!-- Google Map -->
						<div class="google-map">
							<div id="map"></div>
						</div>
						<!-- Google Map -->
					</div>
				</div>
			</div>
		</div>
		<!-- Contact Area End -->

<% include ../partial_page/footer.ejs %>