<% include ../partial_page/header.ejs %>
<!-- hero area start -->
<div class="hero-area slider-4" id="slider-area">
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-sm-offset-4 col-md-8">
                    <div class="hero-text mr-ri-l">
                        <h1>BDCash Protocol</h1>
                        <p>The <strong>Best Decentralization</strong> for digital <strong>Cash</strong>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero area end -->

        <% include ../partial_page/footer.ejs %>