<% include ../partial_page/header.ejs %>
<!-- hero area start -->
<div class="hero-area slider-4" id="slider-area">
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-sm-offset-4 col-md-8">
                    <div class="hero-text mr-ri-l">
                        <h1>BDCashProtcol Ecosystem</h1>
                        <p>The <strong>Best Decentralization</strong> for digital <strong>Cash</strong>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero area end -->
	<!-- Team Area Start -->
    <section id="team" class="team-area ptb-130">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-heading pb-55 text-center">
                        <h2>Donwloads BDCASH Apps</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <div class="team-single">
                        <img src="img/other/wallet-pc.png" alt="" />
                       <a href="https://github.com/BdcashProtocol/bdcash-protocol/releases" target="_blank"><div class="team-overlay text-center">
                            <h5>Donwload Wallets PC</h5>
                            
                        </div></a> 
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="team-single">
                        <img src="img/other/wallet-android.png" alt="" />
                        <a href="#" target="_blank"> <div class="team-overlay text-center">
                            <h5>Donwload Android Wallet</h5>
                        </div></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="team-single">
                        <img src="img/other/web.png" alt="" />
                        <a href="#" target="_blank"> <div class="team-overlay text-center">
                            <h5>Acesse Web wallet</h5>
                        </div></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="team-single">
                        <img src="img/other/extension-1.png" alt="" />
                        <a href="#" target="_blank">  <div class="team-overlay text-center">
                            <h5>Install Chrome Extension</h5>
                        </div></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="team-single">
                        <img src="img/other/extension-2.png" alt="" />
                        <a href="#" target="_blank">  <div class="team-overlay text-center">
                            <h5>Install Firefox Addons</h5>
                        </div></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="team-single">
                        <img src="img/other/paper.png" alt="" />
                        <a href="#" target="_blank">   <div class="team-overlay text-center">
                            <h5>Wallet paper</h5>
                        </div></a>
                    </div>
                </div>
            </div>
        </div> 
    </section>
    <!-- Team Area End -->

        <% include ../partial_page/footer.ejs %>