<% include ../partial_page/header.ejs %>

		<!-- hero area start -->
		<div class="hero-area slider-4" id="slider-area">
			<div class="slider">
				<div class="container">
					<div class="row">
						<div class="col-md-offset-4 col-sm-offset-4 col-md-8">
							<div class="hero-text mr-ri-l">
								<h1>Bdcash Protocol</h1>
								<p>BDCASH is a peer-to-peer project based on and forked PIVX code with consensus <strong>POS</strong> and <strong>MN</strong>, but with major changes to its protocol, making our code unique</p>
								<a href="#" class="hero-btn">GEt started</a>
							</div>
						</div>
					</div>
				</div>
				<div class="slide-animation wow slideInLeft" data-wow-duration="2s" data-wow-delay="1s">
					<img src="img/slider/10.png" alt="" />
				</div>
			</div>
		</div>
		<!-- hero area end -->
		<!-- service area start -->
		<section class="service-area gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single-service">
							<div class="service-icon">
								<img src="img/icon/service-icon-1.png" alt="">
							</div>
							<div class="service-content">
								<h2>Security</h2>
								<p>Our protocol provides anonymity and security to our network.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service">
							<div class="service-icon">
								<img src="img/icon/service-icon-2.png" alt="">
							</div>
							<div class="service-content">
								<h2>Fast</h2>
								<p>Faster transactions without huge fees is one of our improvements</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm">
						<div class="single-service">
							<div class="service-icon">
								<img src="img/icon/service-icon-3.png" alt="">
							</div>
							<div class="service-content">
								<h2>Usability</h2>
								<p>With our smart contracts there are endless possibilities for use.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- service area start -->

		<!-- Feature area start -->
		<section id="ecosystem" class="feature-area pt-128 bg-5 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-heading pb-55 text-center">
							<h2>Ecosystem Bdcash Protocol</h2>
							<p>Check out our decentralized open source products.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<span><i class="icofont icofont-alarm"></i></span>
							</div>
							<div class="awesome-feature-details">
								<h5>ID BDCASH</h5>
								<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<span><i class="icofont icofont-light-bulb"></i></span>
							</div>
							<div class="awesome-feature-details">
								<h5>NodeSH</h5>
								<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<span><i class="icofont icofont-code"></i></span>
							</div>
							<div class="awesome-feature-details">
								<h5>Chain BDCASH Platform</h5>
								<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<span><i class="icofont icofont-ui-video-chat"></i></span>
							</div>
							<div class="awesome-feature-details">
								<h5>NFT BDCASH Platform</h5>
								<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="text-center">
							
							<div class="awesome-feature-details ">
								<a href="#"><br /><br />Read More <br /><br />about Ecosystem<br /><br/> Bdcash Protocol<br /><br /></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<span><i class="icofont icofont-heart"></i></span>
							</div>
							<div class="awesome-feature-details">
								<h5>BDCASH Hub</h5>
								<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem stand</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Feature feature area end -->
		<!-- How it work start -->
		<section class="how-work-area pt-130 pb-125 bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="how-work-right text-center">
							<img src="img/other/work.png" alt="" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="how-work-left mt-90">
							<h2>How It Work?</h2>
							<div class="how-work-tab mt-55">
								<ul>
									<li class="active"><a data-toggle="tab" href="#home">1. Download</a></li>
									<li><a data-toggle="tab" href="#menu1">2. Install</a></li>
									<li><a data-toggle="tab" href="#menu2">3. Run</a></li>
								</ul>
								<div class="tab-content">
									<div id="home" class="mt-45 tab-pane fade in active">
										<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en  bnzetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16esss eeuw, toen een onbekende drukker een zethaak met letters nam en ze  husselde om een font-catalogus te maken. </p>
										<p>overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronischess letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen Lorem Ipsum passages.</p>
									</div>
									<div id="menu1" class="mt-45 tab-pane fade">
										<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en  bnzetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16esss eeuw, toen een onbekende drukker een zethaak met letters nam en ze  husselde om een font-catalogus te maken. </p>
										<p>overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronischess letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen Lorem Ipsum passages.</p>
									</div>
									<div id="menu2" class="mt-45 tab-pane fade">
										<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en  bnzetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16esss eeuw, toen een onbekende drukker een zethaak met letters nam en ze  husselde om een font-catalogus te maken. </p>
										<p>overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronischess letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen Lorem Ipsum passages.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- How it work End -->
        <!-- fun fact area start -->
	    <section class="funfact-area bg-2 pt-125 pb-130">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">200</h2>
							<h5>Downloads</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">1000</h2>
							<h5>Active Installs</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">80</h2>
							<h5>Happy Clients</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">100</h2>
							<h5>Total App Rat</h5>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- fun fact area end -->
		<!-- Download Area Start -->
		<section class="download-area bg-3 ptb-130">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading text-center pb-45">
							<h2>Download Now Available</h2>
							<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="download-option-btn text-center">
							<ul>
								<li>
									<a href="#"><i class="icofont icofont-brand-apple"></i> App Store</a>
									<a class="active" href="#"><i class="icofont icofont-brand-windows"></i> Windows store</a>
									<a href="#"><i class="icofont icofont-brand-android-robot"></i> Android</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Download Area End -->
		<!-- Pricing Plan Area Start -->
		<section id="pricing" class="pricing-area pt-130 pb-100">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading pb-55 text-center">
							<h2>Pricing Plan</h2>
							<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="pricing-single white-bg text-center mb-30">
							<div class="price-titel uppercase">
								<h4>BASIC</h4>
							</div>
							<div class="pricing-price">
								<span>40</span>
							</div>
							<div class="price-decs">
								<ul>
									<li>Five Website</li>
									<li>Five User</li>
									<li>100 GB Bandwidth</li>
									<li>2 GB Storage</li>
								</ul>
							</div>
							<div class="ordr-btn uppercase">
								<a href="#">Purchase Now</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="pricing-single active white-bg text-center mb-30">
							<div class="price-titel uppercase">
								<h4>STANDERD</h4>
							</div>
							<div class="pricing-price">
								<span>50</span>
							</div>
							<div class="price-decs">
								<ul>
									<li>20 Website</li>
									<li>20 User</li>
									<li>200 GB Bandwidth</li>
									<li>20 GB Storage</li>
								</ul>
							</div>
							<div class="ordr-btn uppercase">
								<a href="#">Purchase Now</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm">
						<div class="pricing-single white-bg text-center mb-30">
							<div class="price-titel uppercase">
								<h4>UNLIMITED</h4>
							</div>
							<div class="pricing-price">
								<span>60</span>
							</div>
							<div class="price-decs">
								<ul>
									<li>Unlimited Website</li>
									<li>Unlimited User</li>
									<li>Unlimited Bandwidth</li>
									<li>Unlimited Storage</li>
								</ul>
							</div>
							<div class="ordr-btn uppercase">
								<a href="#">Purchase Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Pricing Plan Area End -->
		<!-- Testimonial Area Start -->
		<section id="client" class="testimonial-area pt-120 pb-130 bg-4">
			<div class="container">
				<div class="row">
					<div class="testimonial-active owl-carousel">
						<div class="col-md-12">
							<div class="testimonial-desc text-center">
								<p>Mauris pharetra eget turpis at gravida. Praesent diam neque, varius at mi eget, molestie scelerisque eros. Quisque eget nunc et ligula interdum finibus. Nullam id tincidunt metus, </p>
								<h4>Sathi Bhuiyan</h4>
							</div>
						</div>
						<div class="col-md-12">
							<div class="testimonial-desc text-center">
								<p>Mauris pharetra eget turpis at gravida. Praesent diam neque, varius at mi eget, molestie scelerisque eros. Quisque eget nunc et ligula interdum finibus. Nullam id tincidunt metus, </p>
								<h4>Al Mamun</h4>
							</div>
						</div>
						<div class="col-md-12">
							<div class="testimonial-desc text-center">
								<p>Mauris pharetra eget turpis at gravida. Praesent diam neque, varius at mi eget, molestie scelerisque eros. Quisque eget nunc et ligula interdum finibus. Nullam id tincidunt metus, </p>
								<h4>Salim Rana</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Testimonial Area End -->
		<!-- Team Area Start -->
		<section id="team" class="team-area ptb-130">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading pb-55 text-center">
							<h2>Lovely Team Member</h2>
							<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/1.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Sathi Bhuiyan</h5>
								<h6>Lovely Designer</h6>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/2.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Kausar Al Mamun</h5>
								<h6>Lovely Designer</h6>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/3.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Nirob Khan</h5>
								<h6>Lovely Designer</h6>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/4.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Salim Rana</h5>
								<h6>Lovely Designer</h6>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Team Area End -->
		<!-- Subcribe Area Start -->
		<section class="subcribe-area pt-130 pb-115 bg-6">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading pb-35 text-center">
							<h2>Subscribe a free update</h2>
							<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="subcribe-form text-center">
							<form id="mc-form">
								<input autocomplete="off" placeholder="Enter Your Email" type="text">
								<button type="submit">Subscribe</button>
								<!-- mailchimp-alerts Start -->
								<div class="mailchimp-alerts text-centre">
									<div class="mailchimp-submitting"></div>
									<div class="mailchimp-success"></div>
									<div class="mailchimp-error"></div>
								</div>
								<!-- mailchimp-alerts end -->
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Subcribe Area End -->
		
	
 <% include ../partial_page/footer.ejs %>
