<% include ../partial_page/header.ejs %>

		<!-- hero area start -->
		<div class="hero-area slider-4" id="slider-area">
			
			<div class="slider">

				<div class="container">
					<div class="row">
						<div class="col-md-offset-4 col-sm-offset-4 col-md-8">
							<div class="hero-text mr-ri-l">
								<h1>BDCashProtcol Ecosystem</h1>
								<p>BDCASH is a peer-to-peer project based on and forked PIVX code with consensus <strong>POS</strong> and <strong>MN</strong>, but with major changes to its protocol, making our code unique</p>
							</div>
						</div>

					</div>
				</div>
				<div class="slide-animation wow slideInLeft" data-wow-duration="2s" data-wow-delay="1s">
					<img src="img/slider/10.png" alt="" />
				</div>
				
			</div>
		</div>
		<!-- hero area end -->
		<!-- service area start -->
		<section class="service-area gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single-service">
							<div class="service-icon">
								<img src="img/icon/service-icon-1.png" alt="">
							</div>
							<div class="service-content">
								<h2>Security</h2>
								<p>Our protocol provides anonymity and security to our network.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service">
							<div class="service-icon">
								<img src="img/icon/service-icon-2.png" alt="">
							</div>
							<div class="service-content">
								<h2>Fast</h2>
								<p>Faster transactions without huge fees is one of our improvements</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm">
						<div class="single-service">
							<div class="service-icon">
								<img src="img/icon/service-icon-3.png" alt="">
							</div>
							<div class="service-content">
								<h2>Usability</h2>
								<p>With our smart contracts there are endless possibilities for use.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- service area start -->

		<!-- Feature area start -->
		<section id="ecosystem" class="feature-area pt-128 bg-5 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-heading pb-55 text-center">
							<h2>Ecosystem BDCashProtcol Ecosystem</h2>
							<p>Check out our decentralized open source products.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<img src="img/icon/idbdcash.png" alt="">
							</div>
							<div class="awesome-feature-details">
								<h5>ID BDCASH</h5>
								<p>Connect to BDCASH network platforms with just one click, fast and secure.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<img src="img/icon/nodesh.png" alt="">
							</div>
							<div class="awesome-feature-details">
								<h5>NodeSH</h5>
								<p>A checkpoint and distribution that helps speed up all transactions</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<img src="img/icon/chainbdcash.png" alt="">
							</div>
							<div class="awesome-feature-details">
								<h5>Chain BDCash Platform</h5>
								<p>Create and manage your Tokens BDCASH with just a few clicks</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<img src="img/icon/nftbdcash.png" alt="">
							</div>
							<div class="awesome-feature-details">
								<h5>NFT BDCash Platform</h5>
								<p>Create, buy and sell your NFts easily and quickly.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="text-center">
							<div class="awesome-feature-details ">
								
								<a href="https://docs.bdcashprotocol.com" class="hero-btn" target="_blank">
									<div class="awesome-feature-icon">
										<img src="img/icon/check.png" alt="">
									</div>
									<br /><br />Learn More <br /><br />about Ecosystem<br /><br/> BDCashProtcol Ecosystem<br /><br /></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<img src="img/icon/bdcashhub.png" alt="">
							</div>
							<div class="awesome-feature-details">
								<h5>BDCash Hub</h5>
								<p>Share or Find your favorite Dapps in a simple way.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Feature feature area end -->
		<!-- How it work start -->
		<section class="how-work-area pt-130 pb-125 bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="how-work-right text-center">
							<img src="img/other/work.png" alt="" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="how-work-left mt-90">
							<h2>Learn what it is...</h2>
							<div class="how-work-tab mt-55">
								<ul>
									<li class="active"><a data-toggle="tab" href="#home">1. BDCash</a></li>
									<li><a data-toggle="tab" href="#menu1">2.ecossystem</a></li>
									<li><a data-toggle="tab" href="#menu2">3.Tokens BDCash</a></li>
								</ul>
								<div class="tab-content">
									<div id="home" class="mt-45 tab-pane fade in active">
										<p>The best money decentralization or the BDCASH ticker is a cryptocurrency forked from the pivx code, but which has its own protocol that makes it possible to use our ecosystem to create non-fungible tokens (NFT), Tokens and Dapps at a relatively fee, super low compared to other larger, well-known projects.</p>
									</div>
									<div id="menu1" class="mt-45 tab-pane fade">
										<p>A digital ecosystem is a group of interconnected information technology resources that can function as a unit. Digital ecosystems are made up of suppliers, customers, trading partners, applications, third-party data service providers and all respective technologies. Interoperability is the key to the ecosystem's success.</p>
									</div>
									<div id="menu2" class="mt-45 tab-pane fade">
										<p>The term crypto token refers to a special virtual currency token or how cryptocurrencies are denominated. These tokens represent fungible and tradable assets or utilities that reside on their own blockchains. Crypto tokens are often used to fundraise for crowd sales, but they can also be used as a substitute for other things. These tokens are usually created, distributed, sold, and circulated through the standard initial coin offering (ICO) process, which involves a crowdfunding exercise to fund project development.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- How it work End -->
        <!-- fun fact area start -->
	    <section class="funfact-area bg-2 pt-125 pb-130">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">200</h2>
							<h5>Total Transactions</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">43</h2>
							<h5>MN online</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">80</h2>
							<h5>Tokens Created</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">100</h2>
							<h5>Total Holding BDCash</h5>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- fun fact area end -->
		<!-- Download Area Start -->
		<section class="download-area bg-3 ptb-130" id="donwload">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading text-center pb-45">
							<h2>Documentation</h2>
							<p>To understand the entire project, we have our documentation on the links below</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="download-option-btn text-center">
							<ul>
								<li>
									<a href="https://docs.bdcashprotocol.com" target="_blank">Docs</a>
									<a href="https://github.com/BdcashProtocol/whitepaper-bdcash-protocol" target="_blank"> Whitepapers</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Download Area End -->

 <% include ../partial_page/footer.ejs %>
