<% include ../partial_page/header.ejs %>

		<!-- hero area start -->
		<div class="hero-area slider-4" id="slider-area">
			
			<div class="slider">

				<div class="container">
					<div class="row">
						<div class="contact-social text-center pt-25 pb-15">
							<ul>
								<li>
									<a href="#" target="_blank"><i class="icofont icofont-social-twitter"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icofont icofont-social-reddit"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icofont icofont-social-youtube"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icofont icofont-social-telegram"></i></a>
								</li>
								<li>
									<a href="#" target="_blank"><iimg class="icofont icofont-social-instagram"></i></a>
								</li>
							</ul>
						</div>
						<div class="col-md-offset-4 col-sm-offset-4 col-md-8">
							<div class="hero-text mr-ri-l">
								<h1>BDCash Protocol</h1>
								<p>BDCASH is a peer-to-peer project based on and forked PIVX code with consensus <strong>POS</strong> and <strong>MN</strong>, but with major changes to its protocol, making our code unique</p>
							</div>
						</div>

					</div>
				</div>
				<div class="slide-animation wow slideInLeft" data-wow-duration="2s" data-wow-delay="1s">
					<img src="img/slider/10.png" alt="" />
				</div>
				
			</div>
		</div>
		<!-- hero area end -->
		<!-- service area start -->
		<section class="service-area gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single-service">
							<div class="service-icon">
								<img src="img/icon/service-icon-1.png" alt="">
							</div>
							<div class="service-content">
								<h2>Security</h2>
								<p>Our protocol provides anonymity and security to our network.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service">
							<div class="service-icon">
								<img src="img/icon/service-icon-2.png" alt="">
							</div>
							<div class="service-content">
								<h2>Fast</h2>
								<p>Faster transactions without huge fees is one of our improvements</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm">
						<div class="single-service">
							<div class="service-icon">
								<img src="img/icon/service-icon-3.png" alt="">
							</div>
							<div class="service-content">
								<h2>Usability</h2>
								<p>With our smart contracts there are endless possibilities for use.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- service area start -->

		<!-- Feature area start -->
		<section id="ecosystem" class="feature-area pt-128 bg-5 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="section-heading pb-55 text-center">
							<h2>Ecosystem BDCash Protocol</h2>
							<p>Check out our decentralized open source products.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<img src="img/icon/idbdcash.png" alt="">
							</div>
							<div class="awesome-feature-details">
								<h5>ID BDCASH</h5>
								<p>Connect to BDCASH network platforms with just one click, fast and secure.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<img src="img/icon/nodesh.png" alt="">
							</div>
							<div class="awesome-feature-details">
								<h5>NodeSH</h5>
								<p>A checkpoint and distribution that helps speed up all transactions</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<img src="img/icon/chainbdcash.png" alt="">
							</div>
							<div class="awesome-feature-details">
								<h5>Chain BDCash Platform</h5>
								<p>Create and manage your Tokens BDCASH with just a few clicks</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<img src="img/icon/nftbdcash.png" alt="">
							</div>
							<div class="awesome-feature-details">
								<h5>NFT BDCash Platform</h5>
								<p>Create, buy and sell your NFts easily and quickly.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="text-center">
							<div class="awesome-feature-details ">
								
								<a href="#" class="hero-btn">
									<div class="awesome-feature-icon">
										<img src="img/icon/check.png" alt="">
									</div>
									<br /><br />Learn More <br /><br />about Ecosystem<br /><br/> BDCash Protocol<br /><br /></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 hidden-sm">
						<div class="awesome-feature text-center">
							<div class="awesome-feature-icon">
								<img src="img/icon/bdcashhub.png" alt="">
							</div>
							<div class="awesome-feature-details">
								<h5>BDCash Hub</h5>
								<p>Share or Find your favorite Dapps in a simple way.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Feature feature area end -->
		<!-- How it work start -->
		<section class="how-work-area pt-130 pb-125 bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="how-work-right text-center">
							<img src="img/other/work.png" alt="" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="how-work-left mt-90">
							<h2>Learn what it is...</h2>
							<div class="how-work-tab mt-55">
								<ul>
									<li class="active"><a data-toggle="tab" href="#home">1. BDCash</a></li>
									<li><a data-toggle="tab" href="#menu1">2.ecossystem</a></li>
									<li><a data-toggle="tab" href="#menu2">3.Tokens BDCash</a></li>
								</ul>
								<div class="tab-content">
									<div id="home" class="mt-45 tab-pane fade in active">
										<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en  bnzetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16esss eeuw, toen een onbekende drukker een zethaak met letters nam en ze  husselde om een font-catalogus te maken. </p>
										<p>overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronischess letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen Lorem Ipsum passages.</p>
									</div>
									<div id="menu1" class="mt-45 tab-pane fade">
										<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en  bnzetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16esss eeuw, toen een onbekende drukker een zethaak met letters nam en ze  husselde om een font-catalogus te maken. </p>
										<p>overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronischess letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen Lorem Ipsum passages.</p>
									</div>
									<div id="menu2" class="mt-45 tab-pane fade">
										<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en  bnzetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16esss eeuw, toen een onbekende drukker een zethaak met letters nam en ze  husselde om een font-catalogus te maken. </p>
										<p>overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronischess letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen Lorem Ipsum passages.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- How it work End -->
        <!-- fun fact area start -->
	    <section class="funfact-area bg-2 pt-125 pb-130">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">200</h2>
							<h5>Total Transactions</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">1000</h2>
							<h5>MN online</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">80</h2>
							<h5>Tokens Created</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-fact text-center">
							<h2 class="counter">100</h2>
							<h5>Total Holding BDCash</h5>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- fun fact area end -->
		<!-- Download Area Start -->
		<section class="download-area bg-3 ptb-130" id="donwload">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading text-center pb-45">
							<h2>Downloads</h2>
							<p>Download your wallet, it's available on several platforms.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="download-option-btn text-center">
							<ul>
								<li>
									<a href="#"> Chrome Extension</a>
									<a href="#"> Firefox Extension</a>
									<a href="#"> Windows</a>
									<a href="#"> Ubuntu</a>
									<a href="#"> Android</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Download Area End -->
		
		<!-- Team Area Start -->
		<section id="team" class="team-area ptb-130" id="team">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading pb-55 text-center">
							<h2>Team Member BDCASH</h2>
							<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/1.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Sathi Bhuiyan</h5>
								<h6>Lovely Designer</h6>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/2.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Kausar Al Mamun</h5>
								<h6>Lovely Designer</h6>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/3.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Nirob Khan</h5>
								<h6>Lovely Designer</h6>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/4.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Salim Rana</h5>
								<h6>Lovely Designer</h6>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Team Area End -->
		<!-- Subcribe Area Start -->
		<section class="subcribe-area pt-130 pb-115 bg-6">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading pb-35 text-center">
							<h2>Subscribe a free update</h2>
							<p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="subcribe-form text-center">
							<form id="mc-form">
								<input autocomplete="off" placeholder="Enter Your Email" type="text">
								<button type="submit">Subscribe</button>
								<!-- mailchimp-alerts Start -->
								<div class="mailchimp-alerts text-centre">
									<div class="mailchimp-submitting"></div>
									<div class="mailchimp-success"></div>
									<div class="mailchimp-error"></div>
								</div>
								<!-- mailchimp-alerts end -->
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Subcribe Area End -->
		
	
 <% include ../partial_page/footer.ejs %>
