<% include ../partial_page/header.ejs %>

<!-- hero area start -->
<div class="hero-area slider-4" id="slider-area">
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-sm-offset-4 col-md-8">
                    <div class="hero-text mr-ri-l">
                        <h1>BDCashProtcol Ecosystem Markets</h1>
                        <p>The <strong>Best Decentralization</strong> for digital <strong>Cash</strong>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero area end -->

<div class="container-fluid">
  <div class="px-lg-5">

    <!-- For demo purpose -->
    <div class="row py-5">
      <div class="col-lg-12 mx-auto">
        <div class="text-white p-5 shadow-sm text-center">
          <h1 class="display-4">Insentive Program</h1>
          <p class="lead">BdcashProtocol Ecosystem.</p>
        </div>
      </div>
    </div>
    <!-- End -->

    <div class="row">
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-6 col-md-6 mb-6">
        <div class="bg-white rounded shadow-sm text-center"><img src="img/treasure.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5 class="text-center">Treasure fee participation</h5>
            <p class="small text-muted mb-0">Program created to reward everyone who supports the project when a private sale takes place to raise funds for a certain purpose, this incentive lasts up to 12 months and 90% of all reward generated each month is distributed to participants.</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-6 col-md-6 mb-6">
        <div class="bg-white rounded shadow-sm text-center"><img src="img/gracePeriod.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5 class="text-center">Grace period</h5>
            <p class="small text-muted mb-0">To encourage masternode holders, a grace period was created, which gives holders time to reactivate their masternodes for a smaller collateral, ie equal to the last valid collateral when a period change occurs and the collateral increases.</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
    </div>
    
    <div class="py-5 text-right"><br /><br /><br /></div>
  </div>
</div>

<% include ../partial_page/footer.ejs %>