<% include ../partial_page/header.ejs %>

<!-- hero area start -->
<div class="hero-area slider-4" id="slider-area">
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-sm-offset-4 col-md-8">
                    <div class="hero-text mr-ri-l">
                        <h1>BDCashProtcol Ecosystem Markets</h1>
                        <p>The <strong>Best Decentralization</strong> for digital <strong>Cash</strong>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero area end -->

<div class="container-fluid">
  <div class="px-lg-5">

    <!-- For demo purpose -->
    <div class="row py-5">
      <div class="col-lg-12 mx-auto">
        <div class="text-white text-center p-5 shadow-sm rounded banner">
          <h1 class="display-4">Schedule Rewards</h1>
          </div>
<div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th colspan="6" class="text-center">Rewards generate every block</th>

              </tr>
                <tr>
                  <th scope="col">Blocks</th>
                  <th scope="col">Total Coins</th>
                  <th scope="col">Staking Rewards (%)</th>
                  <th scope="col">Masternode Rewards (%)</th>
                  <th scope="col">Treasure fee (in coins)</th>
                  <th scope="col">Collateral</th>
                  <th scope="col">Total Blocks/Days</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <th>0 - 1</th>
                <td>5000000 BDECO</td>
                <td>0%</td>
                <td>0%</td>
                <td>0</td>
                <td>0 BDECO</td>
                <td>1 / 1min</td>
              </tr>
              <tr>
                <th>2 - 200</th>
                <td>1 BDECO</td>
                <td>0%</td>
                <td>0%</td>
                <td>0 BDECO</td>
                <td>199 / 199min</td>
              </tr>
              <tr>
                <th>201 - 9999</th>
                <td>10 BDECO</td>
                <td>40%</td>
                <td>60%</td>
                <td>0.05 BDECO</td>
                <td>2500 BDECO</td>
                <td>9799 / 10 days </td>
              </tr>
              <tr>
                <th>10000 - 49999</th>
                <td>20 BDECO</td>
                <td>40%</td>
                <td>60%</td>
                <td>0.05 BDECO</td>
                <td>5898189 BDECO</td>
                <td>40000 / 21 days </td>
              </tr>
              <tr>
                <th>50000 - 99999</th>
                <td>15 BDECO</td>
                <td>40%</td>
                <td>60%</td>
                <td>0.05 BDECO</td>
                <td>2500 BDECO</td>
                <td>50000 / 40 days </td>
              </tr>
              <tr>
                <th>100000 - 149999</th>
                <td>25 BDECO</td>
                <td>30%</td>
                <td>70%</td>
                <td>0.10 BDECO</td>
                <td>3000 BDECO</td>
                <td>50000 / 40 days </td>
              </tr>
              <tr>
                <th>150000 - 299999</th>
                <td>50 BDECO</td>
                <td>35%</td>
                <td>65%</td>
                <td>0.15 BDECO</td>
                <td>4000 BDECO</td>
                <td>150000 / 100 days </td>
              </tr>
              <tr>
                <th>300000 - 599999</th>
                <td>45 BDECO</td>
                <td>45%</td>
                <td>55%</td>
                <td>0.10 BDECO</td>
                <td>10948189 BDECO</td>
                <td>300000 / 200 days </td>
              </tr>
                <th>600000 - 899999</th>
                <td>40 BDECO</td>
                <td>30%</td>
                <td>70%</td>
                <td>0.05 BDECO</td>
                <td>5000 BDECO</td>
                <td>300000 / 200 days </td>
              </tr>
              <tr>
                <th>900000 - 1099999</th>
                <td>35 BDECO</td>
                <td>45%</td>
                <td>55%</td>
                <td>0.10 BDEC0</td>
                <td>7000 BDECO</td>
                <td>200000 / 140 days </td>
              </tr>
              <tr>
                <th>1100000 - 1299999</th>
                <td>30 BDECO</td>
                <td>40%</td>
                <td>60%</td>
                <td>0.05 BDECO</td>
                <td>10000 BDECO</td>
                <td>200000 / 140 days </td>
              </tr>
              <tr>
                <th>1300000 - 1599999</th>
                <td>20 BDECO</td>
                <td>35%</td>
                <td>65%</td>
                <td>0.15 BDECO</td>
                <td>15000 BDECO</td>
                <td>300000 / 200 days </td>
              </tr>
              <tr>
                <th>1600000 - 1999999</th>
                <td>15 BDECO</td>
                <td>40%</td>
                <td>60%</td>
                <td>0.10 BDECO</td>
                <td>20000 BDECO</td>
                <td>400000 / 398 days </td>
              </tr>
              <tr>
                <th>2000000 - to last block</th>
                <td>10 BDECO</td>
                <td>30%</td>
                <td>70%</td>
                <td>0.05 BDECO</td>
                <td>50000 BDECO</td>
                <td>3251811 / 6 year </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End -->
</div>

<% include ../partial_page/footer.ejs %>
