<% include ../partial_page/header.ejs %>
<!-- hero area start -->
		<div class="hero-area slider-4" id="slider-area">
			<div class="slider">
				<div class="container">
					<div class="row">
						<div class="col-md-offset-4 col-sm-offset-4 col-md-8">
							<div class="hero-text mr-ri-l">
								<h1>BDCashProtocol Ecosystem Road Map</h1>
								<p>The <strong>Best Decentralization</strong> for digital <strong>cash</strong> Ecosystem.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- hero area end -->
<div class="container">
    <br /><br /><br />
    <h5>BDCashProtocol Ecosystem There is a road map with defined goals but they are not done 100% in the chronological order shown.</h5>
<div class="main-timeline">

                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">Jan - Dec</span>
                                    <span class="year">2020</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Target completed</h5>
                                <p class="description">
                                   100% finished
                                </p>
                            </div>
                        </div>
                        <!-- end experience section-->

                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">Jan-Dec</span>
                                    <span class="year">2021</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Target completed</h5>
                                <p class="description">
                                60% Finished
                                </p>
                            </div>
                        </div>
                        <!-- end experience section-->

                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">1° step</span>
                                    <span class="year">2022</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Network Changes</h5>
                                <p class="description">
                                    Blockchain swapped
                                </p>
                                <h5 class="title">News Targets</h5>
                                <p class="description">⦁ Create BDECO ID.</p>
                                <p class="description">⦁ Create NODESH.</p>
                                <p class="description">⦁ Create new Android Wallet.</p>
                                <p class="description">⦁ Publish extension wallet for Firefox and Chrome.</p>
                                <p class="description">⦁ Make the creation of smart contracts available on the BDECO network.</p>
                                <p class="description">⦁ Launch Tokenization Platform. </p>                                  

                                
                            </div>
                        </div>
                        <!-- end experience section-->

                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">2° Step</span>
                                    <span class="year">2022</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Improviments and news</h5>
                                
                                <p class="description"> ⦁	Search partnerships with Exchange for acceptance tokens in the market.</p>
                                <p class="description"> ⦁	Expand partnerships with exchanges.</p>
                                <p class="description"> ⦁	Start construction of the NFT BDECO platform.</p>
                                <p class="description"> ⦁	Start building the BDECO Hub.</p>
                                <p class="description"> ⦁	Start marketing to expand the community.</p>
                                <p class="description"> ⦁	Launch NFT BDECO platform.</p>
                                <p class="description"> ⦁	Launch BDECO Hub.</p>
                                <p class="description"> ⦁	Review and start build Game Card.</p>
                                <p class="description"> ⦁	Update Road Map with new goals and improvements.</p>
                                        
                                
                            </div>
                        </div>
                        <!-- end experience section-->

                    </div>
</div>
<% include ../partial_page/footer.ejs %>