<% include ../partial_page/header.ejs %>
<!-- hero area start -->
<div class="hero-area slider-4" id="slider-area">
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-sm-offset-4 col-md-8">
                    <div class="hero-text mr-ri-l">
                        <h1>BDCashProtcol Ecosystem Team</h1>
                        <p>The <strong>Best Decentralization</strong> for digital <strong>Cash</strong>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero area end -->
		<!-- Team Area Start -->
		<section id="team" class="team-area ptb-130">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading pb-55 text-center">
							<h2>Team Member BDECO</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/limma.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Fabianno Limma</h5>
								<h6>Founder / CEO / Developer</h6>
								<div class="contact-social text-center pt-70 pb-35">
									<ul>
										<li>
											<a href="https://twitter.com/limmafabianno" target="_blank"><i class="icofont icofont-social-twitter"></i></a>
										</li>
										<li>
											<a href="https://t.me/Develpx" target="_blank"><i class="icofont icofont-social-telegram"></i></a>
										</li>
										<li>
											<a href="https://www.linkedin.com/in/fabianno-limma-854995b2/" target="_blank"><i class="icofont icofont-social-linkedin"></i></a>
										</li>
										<li>
											<a href="https://github.com/bdcashdev" target="_blank"><i class="icofont icofont-social-github"></i></a>
										</li>
									</ul>
								</div>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/caio.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Caio Rizard</h5>
								<h6>Manager / Designer</h6>
								<div class="contact-social text-center pt-70 pb-35">
									<ul>
										<li>
											<a href="https://t.me/CaioRizardi" target="_blank"><i class="icofont icofont-social-telegram"></i></a>
										</li>
									</ul>
								</div>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/ben.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Flame Crypto</h5>
								<h6>Marketing Manager</h6>
								<div class="contact-social text-center pt-70 pb-35">
									<ul>
										<li>
											<a href="https://twitter.com/FlameCryptos" target="_blank"><i class="icofont icofont-social-twitter"></i></a>
										</li>
										<li>
											<a href="https://www.linkedin.com/in/flame-cryptos-a773a61b8" target="_blank"><i class="icofont icofont-social-linkedin"></i></a>
										</li>
										<li>
											<a href="https://t.me/FlameCryptos" target="_blank"><i class="icofont icofont-social-telegram"></i></a>
										</li>
									</ul>
								</div>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/dib.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Peter Bou Dip</h5>
								<h6>Advisor / Bussiness Development</h6>
								<div class="contact-social text-center pt-70 pb-35">
									<ul>
										<li>
											<a href="https://twitter.com/pBouDib" target="_blank"><i class="icofont icofont-social-twitter"></i></a>
										</li>
										<li>
											<a href="https://www.linkedin.com/in/dr-peter-bou-dib-5362882a/" target="_blank"><i class="icofont icofont-social-linkedin"></i></a>
										</li>
										<li>
											<a href="https://t.me/pBouDib" target="_blank"><i class="icofont icofont-social-telegram"></i></a>
										</li>
									</ul>
								</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<div class="container team-area ptb-130">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-heading pb-55 text-center">
							<h2>Contributors BDECO</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/tfhink.jpg" alt="" />
							<div class="team-overlay text-center">
								<h5>MotoAcidic (Tfinch)</h5>
								<h6>Developer</h6>
								<div class="contact-social text-center pt-70 pb-25">
									<ul>
										<li>
											<a href="https://github.com/MotoAcidic" target="_blank"><i class="icofont icofont-social-github"></i></a>
										</li>
									</ul>
								</div>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/snowman.jpg" alt="" />
							<div class="team-overlay text-center">
								<h5>snowMan108</h5>
								<h6>Developer</h6>
								<div class="contact-social text-center pt-70 pb-35">
									<ul>
										<li>
											<a href="https://github.com/snowMan108" target="_blank"><i class="icofont icofont-social-github"></i></a>
										</li>
									</ul>
								</div>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/kro.jpg" alt="" />
							<div class="team-overlay text-center">
								<h5>Krö</h5>
								<h6>Marketing / telegram Manager</h6>
								<div class="contact-social text-center pt-70 pb-35">
									<ul>
										<li>
											<a href="https://twitter.com/Gabriel46824914" target="_blank"><i class="icofont icofont-social-twitter"></i></a>
										</li>
										<li>
											<a href="https://t.me/kronox1" target="_blank"><i class="icofont icofont-social-telegram"></i></a>
										</li>
									</ul>
								</div>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/halks.jpg" alt="" />
							<div class="team-overlay text-center">
								<h5>Halks</h5>
								<h6>Marketing / telegram Manager</h6>
								<div class="contact-social text-center pt-70 pb-35">
									<ul>
										<li>
											<a href="https://t.me/H4llks" target="_blank"><i class="icofont icofont-social-telegram"></i></a>
										</li>
									</ul>
								</div>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/sam.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Sam123</h5>
								<h6>Twitter promoter / marketing</h6>
								<div class="contact-social text-center pt-70 pb-35">
									<ul>
										<li>
											<a href="https://twitter.com/SamCrypto123" target="_blank"><i class="icofont icofont-social-twitter"></i></a>
										</li>
										<li>
											<a href="https://www.linkedin.com/in/sam-c-188a1b1b9" target="_blank" target="_blank"><i class="icofont icofont-social-linkedin"></i></a>
										</li>
										<li>
											<a href="https://t.me/AU_sam123"><i class="icofont icofont-social-telegram"></i></a>
										</li>
									</ul>
								</div>
						    </div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="team-single">
							<img src="img/team/4.png" alt="" />
							<div class="team-overlay text-center">
								<h5>Peter Bou Dip</h5>
								<h6>Advisor / Bussiness Development</h6>
								<div class="contact-social text-center pt-70 pb-35">
									<ul>
										<li>
											<a href="#"><i class="icofont icofont-social-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="icofont icofont-social-linkedin"></i></a>
										</li>
										<li>
											<a href="#"><i class="icofont icofont-social-github"></i></a>
										</li>
									</ul>
								</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Team Area End -->
        <% include ../partial_page/footer.ejs %>